@model IEnumerable<Seguros.DAL.Models.Client>
<div class="jumbotron">
    <h1>Consultar Seguro</h1>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div >
    <table class="table table-bordered table-responsive ">
        <tr>
            <th scope="col">
                Nombre
            </th>
            <th scope="col">
                Edad
            </th>
            <th scope="col">
                Acciones
            </th>
        </tr>
        @foreach (var client in Model)
        {
        <tr>
            <td scope="row">
                @client.Name;
            </td>
            <td scope="row">
                @client.Age
            </td>
            <td scope="row">
                @Html.ActionLink("Edit", "Edit", new { id = client.ClientID}) |
                @Html.ActionLink("Details", "Details", new { id = client.ClientID }) |
                @Html.ActionLink("Delete", "Delete", new { id = client.ClientID })
            </td>
        </tr>
        }
    </table>
    <p>

    </p>
</div>
